<br>
<br>
<br>
<br>
<p>Numero total de Utilizadores: {{totalUsers}}</p>
<p>Numero total de Artigos: {{totalArtigos}}</p>
<p>Numero total de Topicos: {{totalTopicos}}</p>
<p>Numero total de Sub Topicos: {{totalSubTopicos}}</p>
<p>Numero total de Artigos Aceites: {{totalAceites}}</p>
<p>Numero total de Artigos Pendentes: {{totalPendentes}}</p>
<p>Numero total de Artigos Rejeitados: {{totalRejeitados}}</p>
