<section class="page-section" style="background-color:rgb(243, 243, 243);">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <a class="title" style="color: #04f118;"> Criar Proposta de Artigo</a>
                    <div class="form">
                        <form #artigoForm = "ngForm" (ngSubmit)="onSubmit(artigoForm)">
                            <div class="form-group">
                                <input type="text" class="form-control" name="titulo" #name="ngModel" [(ngModel)]="titulo" placeholder="Titulo*" required>
                            </div>
                            <div class="form-group">
                                <textarea rows="12" cols="100" class="form-control" name="texto" #name="ngModel" [(ngModel)]="texto" placeholder="Texto*" required></textarea>
                            </div>
                            <div class="form-group" style="margin-top: 15px;">
                                <label><strong>Topico*</strong></label>
                                <div *ngFor="let a of topicos; let i = index" [attr.data-index]="i" >
                                    <input type="radio" id="topico{{i}}" value="{{ a }}" style="margin-left: 15px;" (change)="getSelectedTopico()" name="topico" #name="ngModel" [ngModel]="topico"> {{ a }}<br>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 15px;">
                                <label><strong>SubTopico*</strong></label>
                                <select name="subtopico" #name="ngModel" [(ngModel)]="subtopico" class="form-control" >
                                    <option disabled>-- Selecione o sub topico em que se insere este artigo --</option>
                                    <option *ngFor="let a of subtopicos" value="{{ a }}">{{ a }}</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-top: 15px;">
                                <input type="file" (change)="onFileChanged($event)" placeholder="FOTO*">
                            </div>
                            <button class="btn btn-warning"  type="submit" [disabled]="!artigoForm.valid">
                                Submeter Proposta
                            </button>
                            <p style="margin-bottom: 100px;">Campos com o símbolo * são de preenchimento obrigatório!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

