@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
    background: #2D3142;
    font-family: 'Raleway', sans-serif;
}


/* Layout Styling */

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Button Styles */

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: white;
    position: absolute;
    transition: all .3s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: #2D3142;
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 2.2em;
    }
    #container {
        width: 50%;
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #cb2027;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.profile {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3px;
}

#right {
    display: inline-block;
    width: 650px;
    border: 3px solid #2D3142;
    padding: 10px;
    background-color: rgba(255, 254, 254, 0.89);
    text-align: justify;
}

#left {
    padding-right: 3px;
    width: 650px;
    border: 3px solid #2D3142;
    padding: 10px;
    background-color: rgba(255, 254, 254, 0.89);
    text-align: justify;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.b {
    display: block;
    color: white;
    text-align: center;
    padding: 140px 120px;
    text-decoration: none;
    font-size: 370%;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
}

.c {
    color: #2D3142;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
}

.d {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
}

.border-button {
    outline: solid 1px rgba(245, 240, 241, 0.918);
    transition: outline 0.6s linear;
    margin: 0.4em;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
    color: white;
    background-color: rgba(51, 51, 51, 0.568)
}

.border-button:hover {
    outline-width: 10px;
}

li a:hover {
    background-color: rgb(44, 42, 42);
}

.sansserif {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
    color: white;
}

.bottom {
    margin-top: 200px;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.568);
    text-align: center;
    color: white;
}

.footer2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.568);
    text-align: center;
    color: white;
}