
<div class="profile" style="padding-top: 100px; margin: auto;">
    <div id="left">
        <h2 class="c">Gonçalo Alexandre:</h2>
        <img src="../../../assets/images/goncalo.png" width="200" height="300" alt="Imagem do Gonçalo">

        <p class="c">Olá eu sou o Gonçalo Alexandre, sou um dos criadores deste magnífico site, vivo em Setúbal e estudo Engenharia Informática no Instituto Politécnico de Setúbal (IPS), na Escola Superior de Tecnologia de Setúbal. Gosto de dar longos passeios pela
            praia com o meu gato e de beber cerveja e comer tremoços com os meus amigos a ver o Vitória de Setúbal a jogar para o campeonato. A minha paixão neste momento são os meus animais de estimação, o tonecas (o gato), o alfredo (a tartaruga) e
            o Zé Lupos (um coala, que tem muito mau feitio por sinal).
        </p>

        <h4 class="c">Contactos:</h4>
        <p class="c">E-mail: <a class="c" href="goncalo.m.alexandre@gmail.com">
                      goncalo.m.alexandre@gmail.com</a></p>
        <p class="c">Número de telefone: 912345678</p>
        <a href="https://www.facebook.com/goncalo.alexandre.169" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/goncaloalexand" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/goncalo__alexandre/" target="_blank" class="fa fa-instagram"></a>
    </div>

    <div id="right">
        <h2 class="c">Miguel Carromeu:</h2>
        <img src="carro.jpg" width="500" height="300" alt="Imagem do Miguel">
        <p class="c">
            Olá eu sou o Miguel Carromeu, mais conhecido por Carro e sou o outro criador deste site magnífico. Sou aluno de Engenharia Informática no Instituto Politécnico de Setúbal na Escola Superior de Tecnologia e os meu hobbies são produzir música e ver o Benfica
            enquanto como batata doce com os meus amigos.
        </p>

        <h4 class="c">Contactos:</h4>
        <p class="c">E-mail: <a class="c" href="miguelcarromeu2311@gmail.com">
                  miguelcarromeu2311@gmail.com</a></p>
        <p class="c">Número de telefone: 933859299</p>
        <a href="https://www.facebook.com/miguel.carromeu" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/miguel_carromeu" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/carro_meu/" target="_blank" class="fa fa-instagram"></a>
    </div>
</div>