<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top navbar-shrink" style="background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);" id="mainNav">
    <div class="container">
        <a class="navbar-brand" id = "navbar_brand" [routerLink]="['/']" style= "color: rgb(253, 253, 253)">Sustentabilidade</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
        <div class="collapse navbar-collapse" id="navbarResponsive"> 
            <ul class="navbar-nav text-uppercase ml-auto">
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/propostaArtigo']">Criar um Artigo</a></li>
                <li class="nav-item"><a class="nav-link"  [routerLink]="['/artigos']">Artigos</a></li>
                <li class="nav-item"><a class="nav-link">Alguma coisa</a></li>
                
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
                <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/registo']">Registo</a></li>
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/profile']">Perfil</a></li> 
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/sobre']">Sobre</a></li>
            </ul>
        </div>
    </div>
</nav>