<section class="section pb-5">
    <div class="col-lg-5 mb-4">
        <!--Form with header-->
        <div class="card-body">
            <!--Header-->
            <div class="form-header blue accent-1" style="margin-top: 80px;"> <!--Nome do artigo-->
                <h1 class="display-4" style="color: #F1D204;"> {{artigo.titulo}}</h1>
            </div>
            <br>
            <!--Body-->
            <div class="md-form"> <!--Texto-->
                <p> {{artigo.texto}}</p>
            </div>          
            <div class="md-form"> <!--Público alvo-->
                <h4 style="color: #6A4D8A;">Topico:</h4><p> {{topico}}</p>
            </div>
            <div class="md-form"> <!--Treino específico-->
                <h4 style="color: #6A4D8A;">Subtopico:</h4><p> {{subtopico}}</p>
            </div>
            <div class="md-form"> <!--Utilizador criador-->
                <h4 style="color: #6A4D8A;">Nome do autor:</h4><p> {{user.username}}</p>
            </div>
            <div class="md-form"> <!--Data de publicação-->
                <h4 style="color: #6A4D8A;">Data:</h4><p> {{data}}</p>
            </div>
        </div>
        <!--Form with header-->
    </div>
</section>
