<div class="limiter">
    <div class="container-login100" style="background-image: url('../../images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form " #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
                <span class="login100-form-title p-b-49">
                    Registo
                </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" #name="ngModel" [(ngModel)]="username" placeholder="Escreva aqui o seu username" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" #name="ngModel" [(ngModel)]="email" placeholder="Escreva aqui o seu email" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" #name="ngModel" [(ngModel)]="password" placeholder="Escreva aqui a sua password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                
                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        


                    </a>
                </div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Registar
                        </button>
                    </div>
                </div>            

                <div class="flex-col-c p-t-155">
                    <a routerLink="/login" routerLinkActive="active" class="txt2">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>