<header class="mastheadbg" style= "background-image: url(https://gtechsolucoes.com.br/wp-content/uploads/2017/06/sustentabildiade-1920x1080.jpg);">
    <div class="container" >
        <div class="mastheadbg-subheading" style="text-align: center;">Bem vindo ao sistema de voluntariados do IPS!</div>
        <div class="mastheadbg-heading text-uppercase">Começa a dar atenção ao teu currículo!</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="margin: auto;" [routerLink]="['/adminPropostas']">Voluntariados</a>
        
        <a *ngIf="isAdmin" class="btn btn-primary btn-xl ml-3 text-uppercase js-scroll-trigger" style="margin: auto;" [routerLink]="['/estatisticas']">Estatísticas</a>
    </div>
  </header>
