<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Propostas de Artigo</h1>
<table class="center">
    <tr>
        <th *ngFor = "let coluna of colunas; index as i">
            {{coluna}}
        </th>
    </tr>
    <tr *ngFor = "let artigo of listaArtigos">
        <td><a href="" [routerLink]="['/artigo', artigo._id]" style="font-size: 20px; font-weight: bold; color:rgb(63, 132, 193); text-decoration: underline;">{{artigo.titulo}}</a></td>
        <td>{{artigo.data}}</td>
    
        <td>
            <button (click)="onAccept(artigo._id)" class="btn btn-primary standard-button" style="margin-right: 10px;">Aceitar</button>
            <button (click)="onReject(artigo._id)" class="btn btn-danger">Rejeitar</button>
        </td>
    </tr>
</table>