<section class="intro-section">
    <div class="container">
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
        <div class="intro rounded">
            <img class="pic" src={{user.photoPath}} height= "200px" width="200px" alt="" style="margin-left: 7% ;">
            <h2><b>{{user.username}}</b></h2>
            <br>
            <ul class="information margin-tb-50">
            <li><b>Email : </b>{{user.email}}</li>
            </ul>
            <button class="btn btn-success" style="margin-top: 2%; margin-left: 14.6%;" type="submit" [routerLink]="['/editarPerfil']">
                Editar perfil
              </button>
        </div>
        </div>
    </div>
    </div>
</section>


<div class="container" style="margin-top: 60px; margin-bottom: 50px;">
    <div class="row">
      <div class="col" style="margin-left: 42%;">
        <form name = "formName" class="form100-form validate-form" #deleteForm="ngForm" (ngSubmit)="onSubmit(deleteForm)">
          <button class="btn btn-danger" type="submit" [disabled]="!deleteForm.valid">
            Apagar a conta
          </button>
        </form>
      </div>
    </div>
  </div>