<div class="limiter">
	<div class="container-form100">
		<div class="wrap-form100 p-l-50 p-r-50 p-t-50 p-b-30">
			<!--<form class="form100-form validate-form">-->
				<span class="form100-form-title p-b-35">
					Editar Perfil
				</span>

				<form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
					<div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="username" #name="ngModel" [(ngModel)]="username" placeholder="Username" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-license"></span>
                        </span>
                    </div>

					<div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="email" #name="ngModel" [(ngModel)]="email" placeholder="Email" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-smartphone"></span>
                        </span>
					</div>

                    <div class="container-register100-form-btn p-t-15">
                        <button class="form100-form-btn" style="background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);" type="submit">
                            Alterar Perfil
                        </button>
                    </div>
                </form>
		</div>
	</div>
</div>